
table {
	font-family: sans-serif;
	font-size: 14px;
}

input {
	box-sizing: border-box;
	width: 100%;
}

.TFL-Container {
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;
	overflow: auto;
}

.TFL-Table {
	width: 100%;
	color: black;
	table-layout: fixed;
	font-size: 14px;
	cursor: pointer;
}

.TFL-Header {
	width: 100%;
	color: black;
	table-layout: fixed;
	font-size: 14px;
	background: rgb(48,48,48);
	cursor: pointer;
}

.TFL-Table-Head {
	width: 100%;
	color: black;
	table-layout: fixed;
	font-size: 14px;
	cursor: pointer;
}

.TFL-Column-Head {
	color: white;
	font-size: 16px;
	padding: 0px;
}

.TFL-Row {
	background: white;
}

.TFL-Row:active {
	background: rgb(224,224,224);
}

.TFL-Column {
	padding: 5px;
}

.Selected {
	background: rgb(144,255,144);
}

.TFL-Input-Head {
	position: relative;
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.TFL-Context {
	cursor: pointer;
}
